params {
  config_profile_description = 'University of Adelaide Phoenix HPC cluster profile provided by nf-core/configs'
  config_profile_contact = 'Yassine Souilmi / Alexander Peltzer (@yassineS, @apeltzer)'
  config_profile_url = 'https://www.adelaide.edu.au/phoenix/'
}
 
singularity {
  enabled = true
  autoMounts = true
  cacheDir="/hpcfs/groups/acad_users/containers/"
  runOptions="-B /gpfs/"
}


process {
   executor = 'slurm'
   clusterOptions="-N 1 -p icelake"
   time = '1h'
   container = "/hpcfs/groups/acad_users/containers/nf-core-eager_2.4.5-sharding.sif"
   memory = '10G'
   cpus = 1
   errorStrategy = "finish"

   withName: splitbambyspecies {
    container = "/hpcfs/groups/acad_users/containers/samtools_1.17.sif"
   }
   withName: blast {
    cpus = 8
    memory = "200G"
    time = "12h"
    //clusterOptions = "-N 1 -p highmem"
    container = "/hpcfs/groups/acad_users/containers/blast_2.14.1--pl5321h6f7f691_0.sif"
   }
   withName: megan {
    container = "/hpcfs/groups/acad_users/containers/megan_6.24.20--h9ee0642_0.sif"
   }
   withName: get_read_ids {
    container = "/hpcfs/groups/acad_users/containers/megan_6.24.20--h9ee0642_0.sif"
   }
   withName: extract_reads {
    container = "/hpcfs/groups/acad_users/containers/samtools_1.17.sif"
    errorStrategy = 'ignore'
   }
   withName: mapDamage {
    container = "/hpcfs/groups/acad_users/containers/mapdamage2_2.2.2--pyr43hdfd78af_0.sif"
   }
}

params {
  max_memory = 188.GB
  max_cpus = 64
  max_time = 72.h
}
